
.dingbu{
	width: 100%;
    height: 0.89rem;
    background-color: #007be3;
    top: 0;
    position: fixed;
    z-index: 1000;
}
.dingbu_box {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.dingbu_box1{
    width: 20%;
    height: 95%;
    float: left;
    text-align: center;
    font-size: 0.32rem;
    line-height: 0.89rem;
    color: #fff;
}
.dingbu_box2{
    width: 15%;
    height: 95%;
    float: left;
    text-align: center;
    font-size: 0.32rem;
    border-bottom: 0.2rem solid #f76106;
    line-height: 0.89rem;
    
}

.banner{
	width: 100%;
	height: 4.21rem;
	position: relative;
	background: url(../img/banner1.jpg) center center no-repeat;
	background-size: cover;
}
.lutiao{
	width: 24.99%;
    height: 4px;
    background-color: #ff8d12;
    position: absolute;
    bottom: 0;
    right: 0;
}
.banner .lutiao:hover{
	right: 0;
	left: 0;
	margin: auto;
}
.banner:hover{
	background: url(../img/banner_02.png) center center no-repeat;
	background-size: 100% 100%;
}
.xuanyuan{
    width: 94%;
    background-color: #eee;
    margin-top: 0.2rem;
    padding: 0.1rem 0.23rem 0;
    overflow: hidden;
}
.bt{
    height: 0.62rem;
    line-height: 0.62rem;
    width: 100%;
}
.xuanyuan a{
    color: #494747;
    font-size: 0.22rem;
    line-height: 0.7rem;
    float: left;
    margin: 0 0.14rem;
    font-weight: bold;
}
.xuanyuan span{
    float: left;
    width: 0.16rem;
    height: 0.2rem;
    margin-top: 0.26rem;
    font-size: 0.22rem;
    text-align: center;
    color: #494747;
    background-size: 100%;
    background: url(../img/jiantou.png) center center no-repeat;
    overflow: hidden;
}
.tnr{
    margin-bottom: 0.2rem;
}
.xuanyuan_box{
    width: 100%;
    height: 1.86rem;
    background-color: #fff;
    padding: 0.2rem 0;
    padding-bottom: 0.35rem;
    border-bottom: 1px solid #b8b8b8;
    overflow: hidden;
}
.xuanyuan_t{
    width: 1.93rem;
    height: 100%;
    background-color: #c8c8c8;
    float: left;
    margin-left: 0.2rem;
}
.inter{
    padding-left: 0.29rem;
    padding-bottom: 0.18rem;
    float: left;
    width: 4.3rem;
    text-align: left;
}
.p1{
    width: 100%;
    float: left;
    text-align: left;
    overflow: hidden;
}
.name{
    float: left;
    font-size: 0.26rem;
    font-weight: normal;
    color: #000;
}
.xian{
    width: 4.25rem;
    height: 0.4rem;
    border-bottom: 1px dashed #b8b8b8;
    margin-top: 0.08rem;
    margin-bottom: 0.08rem;
}
.zhiwei{
    float: left;
    font-size: 0.18rem;
    color: #444;
    margin-top: 0.06rem;
    margin-left: 0.1rem;
}

.p2{
    width: 100%;
    font-size: 0.24rem;
    color: #94d43b;  
    float: left;
    text-align: left; 
    display: block;
}
p{
    font-size: 0.26rem;
    font-weight: bold;
    float: left;
    display:block;
}
.xu1{
    background-image: url(../img/20170112064505763.png);
    background-size: cover;
}
.xu2{
    background-image: url(../img/20170112063652908.png);
    background-size: cover;
}
.xu3{
    background-image: url(../img/20170112065942818.png);
    background-size: cover;
}
.xu4{
    background-image: url(../img/20170112072340349.png);
    background-size: cover;
}
.xu5{
    background-image: url(../img/8735.png);
    background-size: cover;
}
.ym{
    height: 0.8rem;
    padding-top: 0.15rem;
    width: 100%;
    padding-left:0.3rem;
    background-color: #ffffff;
}
.xuanyuan>.tnr>.ym>.ym_box{
    float: left;
    height: 0.5rem;
    border-radius: 0.4rem;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.5rem;
  /*  padding-left:0.08rem;*/
}
.ym_b1{
    margin-left: 0.28rem;
    width: 0.5rem;
    background: url(../img/s1.png) 0 0 no-repeat;
    background-size: 100%;
}
.ym_b2{
    width: 1.48rem;
    background: url(../img/s2.png) 0 0 no-repeat;
    background-size: 100%;
}
.ym_b3{
    border: 1px solid #666;
    letter-spacing: 1px;
    color: #666;
    width: 1.4rem;
}
.ym_b4{
    width: 1.48rem;
    background: url(../img/s3.png) 0 0 no-repeat;
    background-size: 100%;
}
.ym_b5{
    width: 0.5rem;
    background: url(../img/s4.png) 0 0 no-repeat;
    background-size: 100%;
}
.banquan{
    width: 100%;
    height: 1.2rem;
    font-size: 0.3rem;
    overflow: hidden;
    margin-bottom: 0.8rem;
}
.shangbiao{
    color: #666;
    font-size: 0.2rem;
    text-align: center;
    padding-top: 0.18rem;
}
.lianxiwomen{
    color: #666;
    font-size: 0.2rem;
    text-align: center;
    padding-top: 0.1rem;
}


















.dibu{
    width: 100%;
    height: 0.9rem;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 0.2rem;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 0.08rem rgba(0,0,0,0.1);
    z-index: 999;
}
.nr{
    margin-top: 0.2rem;
    background-color: background: #e7e7e7;
    width: 100%;
    height: 100%;
}
.nr a{
    width: 33.3%;
    height: 0.8rem;
    float: left;
}
.nr_z1{
    width: 100%;
    height: 100%;
    font-size: 0.24rem;
    color: #000;
    text-align: left;
    background: #e7e7e7;
    margin: 0 auto;
}
.nr_z1 i{
    width: 0.32rem;
    height: 0.32rem;
    float: left;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
}
.zi_t1{
    background: url(../img/qq.png) center no-repeat;
    background-size: cover;
}
.nr_z1 p{
    color: #000;
    text-align: left;
    line-height: 0.7rem;
    font-weight: bold;
}
.shixue{
    width: 40%;
    height: 0.9rem;
    position: relative;
    z-index: 99999;
    box-shadow: 0 0 0.08rem rgba(255,126,0,0.1);
    margin-top: -0.1rem;
}
.nr_z2{
    background-color: #ff8d12;
    border-radius: 0.08rem;
    box-shadow: 0px 0px 0.15rem #ff8d12;
    width: 100%;
    height: 100%;
    
}
.nr_z2 p{
    display: inline-block;
    font-size: 0.3rem;
    line-height: 0.8rem;
    color: #fff;
    float: left;
    text-align: center;
    font-weight: bold;
}
.zi_t2{
    width: 0.36rem;
    height: 0.36rem;
    background:url(../img/shouye6.png) -1.6rem -4.78rem no-repeat;
    background-size: 2rem;
    display: inline-block;
    margin-left: 0.42rem;
    margin-right: 0.08rem;
    float: left;
    margin-top: 0.2rem;
}
.zi_t3{
    width: 0.36rem;
    height: 0.36rem;
    background: url(../img/shouye6.png) -1.62rem -5.3rem no-repeat;
    background-size: 2rem;
    display: inline-block;
    margin-left: 0.42rem;
    margin-right: 0.08rem;
    position: relative;
}
.qiu{
    width: 0.18rem;
    height: 0.18rem;
    position: absolute;
    top: -0.07rem;
    left: -0.07rem;
    text-align: center;
    line-height: 0.18rem;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    font-size: 0.18rem;
}


  

 .clear:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
}